<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}salut yoyo!{% endblock %}</title>

    </head>
    <body>
        {% block body %}salut toi{% endblock %}
    </body>
</html>
